.realtors{
    background-color: $color-secondary;
    grid-column: col-start 7/ full-end;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @media only screen and (max-width:$bp-medium){
        grid-column: 1/-1;
        flex-direction: row;
        justify-content: center;

    }

    &__heading{
        align-self: center;
        display: none;
    }


    &__list{
        display: grid;
        grid-template-columns: min-content max-content;
        justify-content: center;
        align-content: center;
        align-items: center;
        justify-items: center;
        grid-gap: 1rem;

    @media only screen and (max-width:$bp-medium){
        grid-template-columns: repeat(3,min-content max-content);
        grid-template-rows: minmax(15rem,1fr);
    }
    @media only screen and (max-width:$bp-small){
        grid-template-columns: min-content max-content;
        grid-template-rows: repeat(3, minmax(min-content,max-content));
        padding: 2rem 0;
        grid-row-gap: 3rem;

        
       
    }

        
    }

    &__img{
        width: 4rem;
       // height: 100%;
        border-radius: 50%;

    }

    &__details{
        justify-self: start;
    }

    &__sold{
        text-transform: uppercase;
        color: $color-grey-light-2;
    }
}